<html>
<head>
	<title>Bai tap lon - 2010</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>	
	<div class="wrapper">
		<div class="header">
			<img src="images/banner.jpg"/>
		</div><!-- end header -->
		<div class="clear-both"></div>
		<div class="content">
			<div class="c-left">
				<h1>Left</h1>
				<a href="#">Link of Left</a>
			</div><!-- end c-left -->
			<div class="c-main">
				<div class="c-main-box">
					<div class="c-main-box-top">
						<img src="images/thumb.jpg"/>
						<div class="title">Tieu de cua tin</div>
						<p>Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta Mo ta mo ta mo ta</p>
					</div><!-- end c-main-box-top -->
					<div class="c-main-box-list">
				
					</div><!-- end c-main-box-top -->
					
				</div><!-- end c-main-box -->
				<div class="c-main-box">
				
				</div><!-- end c-main-box -->
				<div class="c-main-box">
				
				</div><!-- end c-main-box -->
			</div><!-- end c-main -->
			<div class="clear-both"></div>
		</div><!-- end content -->
		<div class="clear-both"></div>
		<div class="footer">
			<h1>footer</h1>
			<a href="#">Link of footer</a>
		</div><!-- end footer -->
	</div>
</body>
</html>