@charset "utf-8";
body{
	/*Viết bth
	background-image:url('./he-mat-troi.jpg');
	background-repeat:repeat-y;
	background-position:center bottom
	*/
	/*Kiểu shorthand
	background:#666 url('./he-mat-troi.jpg') repeat-x 500px 100px;
	*/
	}
#tag1
{
	width:200px;
	height:800px;
	position:fixed;
	left:100px;
	top:100px;
	z-index:50px;
}
#tag2
{
	width:200px;
	height:50px;
	background-color:green;
	position:absolute;
	left:50px;
	top:50px;
	z-index:10px;
}
#tag3
{
	width:200px;
	height:1000px;
	background-color:purple;
	position:absolute;
	left:500px;
	top:100px;
	z-index:70px;
}
#tag4
{
	background-color:red;
	width:200px;
	height:200px;
	margin:50px;
	color:white;
	padding:50px;
}
#tag5
{
	background-color:purple;
	width:200px;
	height:200px;
	margin-right:50px;
	color:white;
}
a:link,a:active,a:visited{font-size:20px; color:red;text-decoration:underline}
input:hover{border:5px solid red;}
input:focus{color:purple;border:1px solid blue;text-decoration:underline;font-size:20px;}
input:valid{background-color:yellow;}
input:invalid{background-color:red;}







